html {
    background-color: darkred;
} 
nav {
    background-color: black;
    font-size: 14px;
    font-family: georgia;
    text-align: center;
}
ul div {
    width: 119px;
    border: solid 1px;
    float: left;
    padding: 10px 0;
    color: white;
}
button{ 
    padding: 20px;
    margin: 5px 50px 5px 50px;
    align: center;
}
label {
    margin: 5px 50px 5px 50px;
}
a {
    margin: 10px 40px 10px 40px;
}
.column {
    width: 25%;
    display: inline-block; 
    float: left;
    text-align: left;
}

